body {
    font-family: Arial;
    font-size: 16px;
    background-color: #D2A679;
    color: #5C3E28;
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
    margin: 20px auto;
    border: 2px solid #8C5E3D;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F1D6B2;
}

h1 {
    color: #8C5E3D;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    color: #8C5E3D;
    font-size: 1.5em;
    margin-top: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.ingredient-highlight {
    color: #8C5E3D;
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #555;
}

.health-benefits-list {
    list-style-type: none;
}

.health-benefits-list li::before {
    content: "😊";
    margin-right: 10px;
}

a {
    color: #5C3E28;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    img {
        width: 80%;
    }

    .back-to-main {
        margin-top: 20px;
        color: #5C3E28;
        text-decoration: underline;
    }

}
